<!DOCTYPE html>
<html>
  <head>
    <title>YouModas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%# font import %>
    <%# <link href="https://www.dafontfree.net/embed/bWV0cm9wb2xpcy1zZW1pLWJvbGQmZGF0YS81Mi9tLzE1NjgwMi9NZXRyb3BvbGlzLVNlbWlCb2xkLm90Zg" rel="stylesheet" type="text/css"/> %>
  </head>

  <body>
  <%= render 'shared/header' %>
  <%= render 'shared/navlink' %>
  <%= render 'shared/main-carousel' %>
    <%= yield %>
  </body>
</html>
